@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
  }

  .wp-site-blocks > *,
  .editor-styles-wrapper .is-root-container > * {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
  }

  img {
    @apply block max-w-full h-auto;
  }

  input,
  select,
  button,
  textarea {
    font: inherit;
  }

  details summary {
    cursor: pointer;
  }


  .wp-block-post-template {
    @apply m-0 list-none p-0;
  }

  .wp-block-post-content > * + * {
    @apply mt-5;
  }

  .wp-block-post-content ul,
  .wp-block-post-content ol {
    @apply pl-5;
  }

  .wp-block-post-content h2,
  .wp-block-post-content h3,
  .wp-block-post-content h4 {
    @apply font-bold tracking-tight;
  }

  .wp-block-post-content p,
  .wp-block-post-content li {
    @apply leading-7;
  }

  .wp-block-post-content a {
    @apply underline underline-offset-4 hover:no-underline;
  }
}

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}